.main {
    padding: 20px;
    position: absolute;
    height: 500px;
    max-height: 100%;
    background-color: white;
    width: 100%;
    top: 10%;
}
.headtextt {
    font-size: 20px;
    position: absolute;
    color: grey;
    top: 50px;
    left: 75.9%;
}

.headtextcopyy {
    font-size: 20px;
    position: absolute;
    color: #266a2d;
    top: 74px;
    left: 75.9%;
}
